.book-page-container {
    padding: 10px;
    color: white;
}

.bookpage-sub-cont{
    padding-left: 20vw;
    padding-right: 20vw;
}

.book-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-details-top{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.book-details-right {
    padding: 10px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.book-details-right-sub1{
    display: flex;
    justify-content: center;
}

.book-details-right-sub2{
    display: flex;
    justify-content: space-around;
}

.book-page-container h4{
    color: #f4f1de;
    font-size: 40px;
}

.book-page-container .link{
    border: 2px #f4f1de solid;
}
.book-page-container h5{
    padding: 5px;
    font-size: 20px;
}
.book-page-container .link:hover{
    background-color: #f4f1de;
    color: black;
}
.book-page-container h5:hover{
    color: black;
}

.book-details-bottom{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 2px solid rgb(196, 192, 192);
}

.Reviews-cont .tab-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.Reviews-cont h6{
    
    font-size: 20px;
}